body {
    background-image: url('Granito Preto.jpg');
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

#usuario {
    background-color: white;
    width: 80%;
    height: 50%;
    margin: 50px;
    padding: 30px;
    border-radius: 50px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.476) 0px 54px 55px, rgba(0, 0, 0, 0.271) 0px -12px 30px, rgba(0, 0, 0, 0.271) 0px 4px 6px, rgba(0, 0, 0, 0.29) 0px 12px 13px, rgba(0, 0, 0, 0.303) 0px -3px 5px;
}

#foto {
    height: 350px;
    border-radius: 100%;
    padding: 0px;
    margin-left: 40px;
    margin-right: 80px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#texto2 {
    font-size: 35px;
    font-family: Verdana;
    padding-left: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Agency FB;
    border-left: 10px solid #0000004c;
}

h1 {
    font-size: 150px;
    background: linear-gradient(to left, #856601, #c69802, #856601, #c69802);
    background-size: cover;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-family: Agency FB;
    margin: 0px;
    padding: 0px;
    transition: brackground 4s EASE;
}

h1:hover {
    background: linear-gradient(to left, #c69802, #856601, #c69802, #856601);
    background-size: cover;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

#centralizador {
    display: flex;
    justify-content: center;
    align-items: center;
}

#centralizador2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 150px;
    background: #ffffff;
    background-size: cover;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-family: Agency FB;
    margin: 0px;
    padding: 0px;
}

h2:hover {
    background: #ffffff;
    background-size: cover;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

#Botão {
    width: 1200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.161) url('csm_LInkedin_d42a1e4762black.jpg') no-repeat center center;
    color: white;
    padding: 20px 30px;
    border: 10px solid #c69802;
    background-size: 100%;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    box-shadow: rgba(0, 0, 0, 0.476) 0px 54px 55px, rgba(0, 0, 0, 0.271) 0px -12px 30px, rgba(0, 0, 0, 0.271) 0px 4px 6px, rgba(0, 0, 0, 0.29) 0px 12px 13px, rgba(0, 0, 0, 0.303) 0px -3px 5px;
    transition: all 0.5s EASE;
    cursor: pointer;
}

#Botão:hover {
    background: rgba(255, 255, 255, 0.712) url('csm_LInkedin_d42a1e4762black.jpg') no-repeat center center;
    background-size: 110%;
}

#Botão2 {
    width: 1200px;
    height: 220px;
    background: rgb(0, 0, 0) url('Instagram-Logo-2015-2016.jpg') no-repeat center center;
    color: white;
    padding: 20px 30px;
    border: 10px solid #c69802;
    background-size: 60%;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    box-shadow: rgba(0, 0, 0, 0.476) 0px 54px 55px, rgba(0, 0, 0, 0.271) 0px -12px 30px, rgba(0, 0, 0, 0.271) 0px 4px 6px, rgba(0, 0, 0, 0.29) 0px 12px 13px, rgba(0, 0, 0, 0.303) 0px -3px 5px;
    transition: all 0.5s EASE;
    cursor: pointer;
}

#Botão2:hover {
    background: rgb(0, 0, 0) url('Instagram-Logo-2015-2016.jpg') no-repeat center center;
    background-size: 70%;
}


#Botão3 {
    width: 1200px;
    height: 220px;
    background: rgb(0, 0, 0) url('GitHub-Simbolo.png') no-repeat center center;
    color: white;
    padding: 20px 30px;
    border: 10px solid #c69802;
    background-size: 60%;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    box-shadow: rgba(0, 0, 0, 0.476) 0px 54px 55px, rgba(0, 0, 0, 0.271) 0px -12px 30px, rgba(0, 0, 0, 0.271) 0px 4px 6px, rgba(0, 0, 0, 0.29) 0px 12px 13px, rgba(0, 0, 0, 0.303) 0px -3px 5px;
    transition: all 0.5s EASE;
    cursor: pointer;
}

#Botão3:hover {
    background: rgb(0, 0, 0) url('GitHub-Simbolo.png') no-repeat center center;
    background-size: 70%;
}

#nava {
    width: 80%;
    height: 220PX;
    background: rgb(255, 255, 255);
    color: white;
    padding: 20px 30px;
    background-size: 60%;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    box-shadow: rgba(0, 0, 0, 0.476) 0px 54px 55px, rgba(0, 0, 0, 0.271) 0px -12px 30px, rgba(0, 0, 0, 0.271) 0px 4px 6px, rgba(0, 0, 0, 0.29) 0px 12px 13px, rgba(0, 0, 0, 0.303) 0px -3px 5px;
    margin: 50px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
}

table {
    width: 100%;

}


th,
td {
    margin: 0px;
    padding: 0px;
}

#Botão4 {
    width: 700px;
    height: 220px;
    background: rgb(0, 0, 0) url('Captura de tela 2024-01-09 023446.jpg') no-repeat center center;
    color: white;
    padding: 20px 30px;
    border: 10px solid #ffffff;
    background-size: 60%;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    font-size: 100px;
    box-shadow: rgba(0, 0, 0, 0.476) 0px 54px 55px, rgba(0, 0, 0, 0.271) 0px -12px 30px, rgba(0, 0, 0, 0.271) 0px 4px 6px, rgba(0, 0, 0, 0.29) 0px 12px 13px, rgba(0, 0, 0, 0.303) 0px -3px 5px;
    transition: all 0.5s EASE;
    cursor: pointer;
}

#Botão4:hover {
    background: rgb(0, 0, 0) url('Captura de tela 2024-01-09 023446.jpg') no-repeat center center;
    background-size: 70%;
}

#Botão5 {
    width: 700px;
    height: 220px;
    background: rgb(0, 0, 0) url('GitHub-Simbolo.png') no-repeat center center;
    color: white;
    padding: 20px 30px;
    border: 10px solid #ffffff;
    background-size: 60%;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    font-size: 100px;
    box-shadow: rgba(0, 0, 0, 0.476) 0px 54px 55px, rgba(0, 0, 0, 0.271) 0px -12px 30px, rgba(0, 0, 0, 0.271) 0px 4px 6px, rgba(0, 0, 0, 0.29) 0px 12px 13px, rgba(0, 0, 0, 0.303) 0px -3px 5px;
    transition: all 0.5s EASE;
    cursor: pointer;
}

#Botão5:hover {
    background: rgb(0, 0, 0) url('GitHub-Simbolo.png') no-repeat center center;
    background-size: 70%;
}

#proj2 {
    font-size: 35px;
    font-family: Verdana;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Agency FB;
    border-left: 10px solid #ffffff;
}

#proj1 {
    font-size: 35px;
    font-family: Verdana;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Agency FB;
}